# Proxmox VE - Based on Debian GNU/Linux
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:version \
    "^${isopath}/proxmox/(proxmox-ve_([0-9]+.[0-9]+-[0-9]+)\.iso)\$" "${isofile}"

  menuentry "Proxmox VE ${version}" "${isofile}" "${isoname}" --class proxmox {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    echo "Loading Proxmox installer..."
    linux (loop)/boot/linux26 noeject ro ramdisk_size=16777216 rw quiet splash=silent
    echo "Loading initial ramdisk..."
    initrd (loop)/boot/initrd.img newc:/proxmox.iso:$isofile
  }
}

for_each_sorted add_menu "$isopath"/proxmox/proxmox-*.iso