# Gentoo
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:kind \
    --set 3:arch \
    --set 4:minimal \
    --set 5:version \
    "^${isopath}/gentoo/((admincd|install|livegui)-([^-]+)(-minimal)?-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Gentoo Linux ${kind} ${arch} ${version}" "${isofile}" "${isoname}" --class gentoo {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/boot/gentoo isoboot=${isofile} nodhcp looptype=squashfs loop=/image.squashfs cdroot docache dokeymap
    initrd (loop)/boot/gentoo.igz
  }
}

for_each_sorted add_menu "$isopath"/gentoo/*.iso
