# GParted
if cpuid -l; then
menuentry "GParted Live amd64" --class gparted {
  set isoname="gparted-live-0.23.0-1-amd64.iso"
  set isofile="${isopath}/gparted/${isoname}"
  echo "Using ${isoname}..."
  loopback loop $isofile
  linux (loop)/live/vmlinuz boot=live username=user config components quiet noswap noeject ip= nosplash toram=filesystem.squashfs findiso=${isofile}
  initrd (loop)/live/initrd.img
}
fi
menuentry "GParted Live i686 PAE" --class gparted {
  set isoname="gparted-live-0.23.0-1-i686-pae.iso"
  set isofile="${isopath}/gparted/${isoname}"
  echo "Using ${isoname}..."
  loopback loop $isofile
  linux (loop)/live/vmlinuz boot=live username=user config components quiet noswap noeject ip= nosplash toram=filesystem.squashfs findiso=${isofile}
  initrd (loop)/live/initrd.img
}
menuentry "GParted Live i586" --class gparted {
  set isoname="gparted-live-0.23.0-1-i586.iso"
  set isofile="${isopath}/gparted/${isoname}"
  echo "Using ${isoname}..."
  loopback loop $isofile
  linux (loop)/live/vmlinuz boot=live username=user config components quiet noswap noeject ip= nosplash toram=filesystem.squashfs findiso=${isofile}
  initrd (loop)/live/initrd.img
}
