# Proxmox VE - Based on Debian GNU/Linux
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    "^${isopath}/proxmox/(proxmox-([^_]+)_([0-9]+.[0-9]+-[0-9]+)\.iso)\$" "${isofile}"

  # If possible, set nicer variant names for the menu
  # If we can't work out what variant we have we'll just use the name as-is
  if [ "${variant}" == "ve" ]; then
    variant="VE"
  elif [ "${variant}" == "backup-server" ]; then
    variant="Backup Server"
  elif [ "${variant}" == "mail-gateway" ]; then
    variant="Mail Gateway"
  elif [ "${variant}" == "datacenter-manager" ]; then
    variant="Datacenter Manager"
  fi

  menuentry "Proxmox ${variant} ${version} (Graphical)" "${isofile}" "${isoname}" --class proxmox {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    echo "Loading Proxmox ${variant} installer..."
    linux (loop)/boot/linux26 noeject ro ramdisk_size=16777216 rw quiet splash=silent
    echo "Loading initial ramdisk..."
    initrd (loop)/boot/initrd.img newc:/proxmox.iso:$isofile
  }

  menuentry "Proxmox ${variant} ${version} (Terminal UI)" "${isofile}" "${isoname}" --class proxmox {
    set isofile=$2
    set isoname=$3
    set gfxpayload=1024x768
    use "${isoname}"
    loop $isofile
    echo "Loading Proxmox ${variant} console installer..."
    linux (loop)/boot/linux26 noeject ro ramdisk_size=16777216 rw quiet splash=silent proxtui
    echo "Loading initial ramdisk..."
    initrd (loop)/boot/initrd.img newc:/proxmox.iso:$isofile
  }
}

for_each_sorted add_menu "$isopath"/proxmox/proxmox-*.iso