# Xubuntu
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:variant \
    --set 4:arch \
    "^${isopath}/xubuntu/(xubuntu-([^-]+)-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Xubuntu ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class xubuntu {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loop $isofile
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} fsck.mode=skip quiet splash
    initrd (loop)/casper/initrd*
  }
}

for_each_sorted add_menu "$isopath"/xubuntu/xubuntu-*.iso
