# Kali
set kernel="4.9.0-kali3"
if cpuid -l; then
menuentry "Kali 2017.1 amd64" --class kali {
  set isoname="kali-linux-2017.1-amd64.iso"
  set isofile="${isopath}/kali/${isoname}"
  echo "Using ${isoname}..."
  loopback loop $isofile
  linux (loop)/live/vmlinuz-${kernel}-amd64 boot=live findiso=${isofile} boot=live components splash username=root hostname=kali
  initrd (loop)/live/initrd.img-${kernel}-amd64
}
menuentry "Kali 2017.1 amd64 (forensic mode)" --class kali {
  set isoname="kali-linux-2017.1-amd64.iso"
  set isofile="${isopath}/kali/${isoname}"
  echo "Using ${isoname}..."
  loopback loop $iso
  linux (loop)/live/vmlinuz-${kernel}-amd64 boot=live findiso=${isofile} boot=live components splash username=root hostname=kali noswap noautomount
  initrd (loop)/live/initrd.img-${kernel}-amd64
}
fi
menuentry "Kali 2017.1 i386" --class kali {
  set isoname="kali-linux-2017.1-i386.iso"
  set isofile="${isopath}/kali/${isoname}"
  echo "Using ${isoname}..."
  loopback loop $isofile
  linux (loop)/live/vmlinuz-${kernel}-686-pae boot=live findiso=${isofile} boot=live components splash username=root hostname=kali
  initrd (loop)/live/initrd.img-${kernel}-686-pae
}
menuentry "Kali 2017.1 i386 (forensic)" --class kali {
  set isoname="kali-linux-2017.1-i386.iso"
  set isofile="${isopath}/kali/${isoname}"
  echo "Using ${isoname}..."
  loopback loop $isofile
  linux (loop)/live/vmlinuz-${kernel}-686-pae boot=live findiso=${isofile} boot=live components splash username=root hostname=kali noswap noautomount
  initrd (loop)/live/initrd.img-${kernel}-686-pae
}
