# KDE neon
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:edition \
    --set 3:date \
    "^${isopath}/kdeneon/(neon-(.+)-([0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9])-[0-9][0-9][0-9][0-9]\.iso)\$" "${isofile}"
  menuentry "KDE neon ${edition} ${date}" "${isofile}" "${isoname}" --class kdeneon {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} fsck.mode=skip quiet splash
    initrd (loop)/casper/initrd*
  }
}

for_each_sorted add_menu "$isopath"/kdeneon/neon-*.iso
