# CachyOS
function add_menu_desktop {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:version \
    "^${isopath}/cachyos/(cachyos-desktop-linux-([^-]+)\.iso)\$" "${isofile}"
  menuentry "CachyOS Desktop ${version}" "${isofile}" "${isoname}" --class cachyos {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/arch/boot/x86_64/vmlinuz-linux-cachyos img_dev=/dev/disk/by-uuid/${rootuuid} img_loop="${isofile}" earlymodules=loop
    initrd (loop)/arch/boot/x86_64/initramfs-linux-cachyos.img
  }
}

function add_menu_handheld {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:version \
    "^${isopath}/cachyos/(cachyos-handheld-linux-([^-]+)\.iso)\$" "${isofile}"
  menuentry "CachyOS Handheld ${version}" "${isofile}" "${isoname}" --class cachyos {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/arch/boot/x86_64/vmlinuz-linux-cachyos-deckify img_dev=/dev/disk/by-uuid/${rootuuid} img_loop="${isofile}" earlymodules=loop
    initrd (loop)/arch/boot/x86_64/initramfs-linux-cachyos-deckify.img
  }
}

for_each_sorted add_menu_desktop "$isopath"/cachyos/cachyos-desktop-linux-*.iso
for_each_sorted add_menu_handheld "$isopath"/cachyos/cachyos-handheld-linux-*.iso
