# Memtest86+
function add_menu_bios {
  binfile="$1"

  regexp \
    --set 1:binname \
    --set 2:version \
    "^${isopath}/memtest/(memtest(.*)?\.bin)\$" "${binfile}"
  menuentry "Memtest (bin) ${version}" "${binfile}" "${binname}" --class memtest {
    set binfile=$2
    set binname=$3
    use "${binname}"
    linux ${binfile}
  }
}

function add_menu_efi {
  efifile="$1"

  regexp \
    --set 1:efiname \
    --set 2:version \
    "^${isopath}/memtest/(memtest(.*)?\.efi)\$" "${efifile}"
  menuentry "Memtest (efi) ${version}" "${efifile}" "${efiname}" --class memtest {
    set efifile=$2
    set efiname=$3
    use "${efiname}"
    insmod part_gpt
    insmod chain
    chainloader ${efifile}
  }
}

if [ "${grub_platform}" != "efi" ]; then
  for_each_sorted add_menu_bios "$isopath"/memtest/memtest*.bin
else
  for_each_sorted add_menu_efi "$isopath"/memtest/memtest*.efi
fi
