# Tails
function add_menu {
  isofile="$1"

  regexp \
    --set 1:isoname \
    --set 2:arch \
    --set 3:version \
    "^${isopath}/tails/(tails-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Tails ${version} ${arch}" "${isofile}" "${isoname}" --class tails {
    set isofile=$2
    set isoname=$3
    use "${isoname}"
    loop $isofile
    linux (loop)/live/vmlinuz boot=live findiso=${isofile} config apparmor=1 security=apparmor nopersistence noprompt timezone=Etc/UTC block.events_dfl_poll_msecs=1000 splash noautologin module=Tails kaslr slab_nomerge slub_debug=FZP mce=0 vsyscall=none page_poison=1 quiet
    initrd (loop)/live/initrd.img
  }
}

for_each_sorted add_menu "$isopath"/tails/tails-*.iso
